.Vechlcles {
  height: auto;              
  width: 100%;               
  max-width: 190px;          
  margin: 15px auto;         
  text-align: center;
  font-size: 1rem;         
  padding: 10px;
  box-sizing: border-box;
           
  border-radius: 8px;         
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;            
}


.Vechlcles:hover {
  transform: scale(1.05);     
  box-shadow: 0px 6px 15px rgba(212, 38, 38, 0.5); 
}

/* 🖥️ Tablets */
@media (min-width: 768px) {
  .Vechlcles {
    font-size: 2rem;
    max-width: 220px;
  }
}

/* 🖥️ Desktops */
@media (min-width: 1024px) {
  .Vechlcles {
    max-width: 250px;
    font-size: 2.2rem;
  }
}
